<div class="ua-title">{{['Verander Wachtwoord','Change Password'][locale]}}</div>

<div class="ua-form" ng-class="{'ua-progress':serverWait}">
    <div ng-show="error" class="ua-error">{{errorMessage}}</div>

    <div>Email: {{loginResult.user.email}}</div>
    
    <div>{{['Verander uw wachtwoord:','Change password:'][locale]}}</div>
    <form ng-submit="changePassword()" role="form" name="passwordform" novalidate>
        <div>
            <input type="password" class="form-control" name="pw" id="pw" 
                placeholder="{{['wachtwoord','password'][locale]}}" 
                ng-model="password" required/>
            <div ng-show="resetform.pw.$dirty && resetform.pw.$error.required"
                class="ua-help">{{['Voer een wachtwoord in.','Enter a password.'][locale]}}</div>
        </div>

        <div>
            <input type="password" class="form-control" name="pw2" id="pw2" 
                placeholder="{{['bevestig wachtwoord','confirm password'][locale]}}"
                ng-model="password2" required/>
            <div ng-show="resetform.pw2.$dirty && password2 !== password"
                class="ua-help">{{['De wachtwoorden komen niet overeen.','The passwords do not match.'][locale]}}</div>
        </div>
    </form>

    <p class="ua-message"><a href="#"> {{['Verwijder account','Remove account'][locale]}} </a></p>
</div>