
<div class="ua-back-message"><a ui-sref="app">{{ ['Stuur me terug naar de home pagina','Send me back to the home page'][locale] }}</a></div>
<div class="ua-title">{{['Login','Member Login'][locale]}}</div>
<div ng-if="status=='success_reset'" class="ua-message ua-green">{{ ['Je wachtwoord is gereset. Je kunt nu inloggen', 'Your password has been reset. You can now log in.'][locale] }}</div>

<div class="ua-form" ng-class="{'ua-progress':serverWait}">
    <div ng-show="loginError" class="ua-error">{{loginErrorMessage}}</div>
    <form ng-submit="login()" role="form" name="loginform" novalidate>
        <div>
            <input type="email" class="form-control" name="emailid" id="emailid" placeholder="email"
                ng-model="credentials.email" required/>
            <div ng-show="loginform.emailid.$invalid && loginform.emailid.$dirty"
                class="ua-help">{{['Voer een geldig email adres in','Enter a valid email address.'][locale]}}</div>
        </div>
        <div>
            <input type="password" class="form-control" name="pw" id="pw" 
                placeholder="{{['wachtwoord','password'][locale]}}" 
                ng-model="credentials.password" required/>
            <div ng-show="loginform.pw.$error.required && loginform.pw.$dirty"
                class="ua-help">{{['Voer een wachtwoord in','Enter a password.'][locale]}}</div>
            
        </div>
        <div>
            <button class="ua-btn" 
                    ng-class="serverWait ? 'ua-progress' : 'ua-pointer'" 
                    type="submit" 
                    ng-disabled="loginform.$invalid || serverWait" >login</button>
        </div>
        <p class="ua-message"><a ui-sref="app.resetpassword"> {{['Wachtwoord vergeten?','Forgot password?'][locale]}} </a></p>
    </form>
</div>