<div class="ua-title">{{['Nieuw Wachtwoord Instellen','Password Reset'][locale]}}</div>
<div ng-show="!emailSend">
    <div class="ua-message">{{['Voer je email in, en we sturen je instructies op over hoe je een nieuw wachtwoord kunt instellen.', 
        'Enter your email, and we’ll send you instructions on how to reset your password.'][locale]}}</div>
    <div class="ua-form" ng-class="{'ua-progress':serverWait}">
        <div ng-show="error" class="ua-error">{{errorMessage}}</div>
        <form ng-submit="submitEmail()" role="form" name="resetform" novalidate>
            <div>
                <input type="email" id="emailid" name="emailid" placeholder="email" ng-model="email" required/>
                <div ng-show="resetform.emailid.$invalid && !resetform.emailid.$pristine"
                    class="ua-help">{{['Voer een geldig email adres in','Enter a valid email address.'][locale]}}</div>
            </div>
            <div>
                <button class="ua-btn" 
                    ng-class="serverWait ? 'ua-progress' : 'ua-pointer'" 
                    type="submit" 
                    ng-disabled="loginform.$invalid || serverWait" >
                    {{['Stuur me de instructies','Send me reset instructions'][locale]}}</button>
            </div>
        </form>
    </div>
</div>
<div ng-show="emailSend" class="ua-email-send">
    <p class="ua-message">{{['We hebben een email gestuurd naar','We have sent an email to'][locale]}} {{email}}
        {{['met instructies over hoe je je wachtwoord opnieuw kunt instellen','with instructions on how to reset your password.'][locale]}}</p>
    <p class="ua-message">{{
        ["Als je geen email hebt ontvangen check dan je spam folder of",
        "If you don't receive the email, please check your spam folder or"][locale]
        }} 
        <a ui-sref="app.contact">{{['Maak contact met ons','Contact Support'][locale]}}</a></p>
</div>