<div class="ua-back-message"><a ui-sref="app.login">Send me back to the login page</a></div>
<div class="ua-title">Password Reset</div>
<div ng-show="!emailSend">
    <div class="ua-message">Enter your email, and we’ll send you instructions on how to reset your password.</div>
    <div class="ua-form">
        <form>
            <input type="text" placeholder="email"/>
            <button>Send me reset instructions</button>
        </form>
    </div>
</div>
<div ng-show="emailSend" class="ua-email-send">
    <p class="ua-message">We have sent an email to {{email}} with instructions on how to reset your password.</p>
    <p class="ua-message">If you don't receive the email, please check your spam folder or <a ui-sref="app.contact">Contact Support</a></p>
</div>