<div class="ua-back-message">{{['','Never mind,'][locale]}} <a ui-sref="app.login">{{['Ga terug naar de login pagina','Send me back to the login page'][locale]}}</a></div>
<div class="ua-title">{{['Nieuw Wachtwoord','Set new password'][locale]}}</div>
<div class="ua-form">
    <form>
        <input type="password" placeholder="{{['nieuw wachtwoord','new password'][locale]}}"/>
        <input type="password" placeholder="{{['bevestig wachtwoord','confirm password'][locale]}}"/>
        <button>{{['Reset wachtwoord','Reset password'][locale]}}</button>
    </form>
</div>