<div class="ua-back-message">{{['','Never mind,'][locale]}} <a ui-sref="app.login">{{['Ga terug naar de login pagina','Send me back to the login page'][locale]}}</a></div>
<div class="ua-title">{{['Nieuw Wachtwoord','Set new password'][locale]}}</div>
<div class="ua-form" ng-class="{'ua-progress':serverWait}">
    <div ng-show="error" class="ua-error">{{errorMessage}}</div>
    <form ng-submit="doResetPassword()" role="form" name="resetform" novalidate>
        <div>
            <input type="password" class="form-control" name="pw" id="pw" 
                placeholder="{{['wachtwoord','password'][locale]}}" 
                ng-model="password" required/>
            <div ng-show="resetform.pw.$dirty && resetform.pw.$error.required"
                class="ua-help">{{['Voer een wachtwoord in.','Enter a password.'][locale]}}</div>
        </div>

        <div>
            <input type="password" class="form-control" name="pw2" id="pw2" 
                placeholder="{{['bevestig wachtwoord','confirm password'][locale]}}"
                ng-model="password2" required/>
            <div ng-show="resetform.pw2.$dirty && password2 !== password"
                class="ua-help">{{['De wachtwoorden komen niet overeen.','The passwords do not match.'][locale]}}</div>
        </div>
        <div>
            <button class="ua-btn" 
                ng-class="serverWait ? 'ua-progress' : 'ua-pointer'" 
                type="submit" 
                ng-disabled="loginform.$invalid || serverWait" >
                {{['Reset wachtwoord','Reset password'][locale]}}</button>
        </div>
    </form>
</div>
<!--<div ng-show="passwordResetSuccess">
    <div class="ua-message ua-success">{{['Uw wachtwoord is succesvol gereset','Your password has been reset successfully'][locale]}}</div>
    <div class="ua-back-message"><a ui-sref="app.login">Login</a></div>
</div>-->