<div class="ua-back-message"><a ui-sref="{{prevState.state}}">Send me back to the {{prevState.name}} page</a></div>
<div class="ua-title">Create a Free Account</div>
<div class="ua-form">
    <form>
        <input type="text" placeholder="email address"/>
        <input type="password" placeholder="password"/>
        <input type="password" placeholder="confirm password"/>
        <button>Create</button>
        <p>TODO: sign up with facebook?</p>
        <p class="ua-message">Already registered? <a ui-sref="app.login">Sign In</a></p>
    </form>
</div>