@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.ua-login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.ua-back-message {
  font-size: 1em;
  padding:20px;
  text-align: center;
}
.ua-title {
  font-size: 2em;
  text-align: center;
  padding:20px;
}
.ua-message {
  font-size: 1em;
  text-align: center;
  padding:10px;
  padding-bottom:30px;
}
.ua-form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.ua-form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.ua-form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.ua-form .ua-btn:hover,.ua-form .ua-btn:active,.ua-form .ua-btn:focus {
  background: #43A047;
}
.ua-form .ua-btn:disabled,
.ua-form .ua-btn[disabled] {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
.ua-form .ua-message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.ua-form .ua-message a {
  color: #4CAF50;
  text-decoration: none;
}


/* form-errors */
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: #a94442;
}
.has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-error .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}
.has-error .input-group-addon {
  color: #a94442;
  background-color: #f2dede;
  border-color: #a94442;
}
.has-error .form-control-feedback {
  color: #a94442;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .ua-title {
    font-size: 3em;
  }
}
